/api/node_modules
/api/.env

node_modules/

yarn.lock

api/uploads/

api/temp/

api/dist/

corretor/.env

corretor/temp/

spa/package-lock.json

env/prod/proxy/certbot/data/keys/

env/prod/proxy/certbot/data/csr/

env/prod/spa/dist/build/
